@model IEnumerable<ClinicApp.Models.DoctorModel>

@{
    ViewBag.Title = "AddReceptionDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <ul class="list-group" style="margin-top: 50px">

        @foreach (var item in Model)
        {
            <li class="list-group-item">
                @Html.ActionLink(String.Format("{0} {1} {2}", item.Surname, item.Name, item.Patronymic), "AddReceptionSchedule", "Patient", new { docId = item.Id }, null)
            </li>
        }
    </ul>
