@model IEnumerable<ClinicApp.Models.SpecialityModel>

@{
    ViewBag.Title = "AddReceptionSpecialities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" style="margin-top: 50px;">
    <li class="active">@Html.ActionLink("Пациенты", "Index", "Receptionist")</li>
    <li>@Html.ActionLink("Участки", "Areas", "Receptionist")</li>
</ul>


<ul class="list-group" style="margin-top: 50px">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(item.Name, "AddReceptionDoctor", "Receptionist", new { specId = item.Id }, null)
        </li>
    }
</ul>